# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Spring Boot
application-local.yml

# Frontend
node_modules/
dist/
*.local

# Database
*.db
.env
application-local.yml