# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log

# IDE
.settings/
.classpath
.factorypath
.project
.idea/
.vscode/
*.iml


# OS
.DS_Store
Thumbs.db

# Spring Boot
application-local.yml

# Frontend
node_modules/
dist/
*.local

# Database
*.db
.env
application-local.yml

# Maven wrapper
.mvn/
mvnw
mvnw.cmd
# ===== Docker =====
postgres_data/
